.admin-page {
  display: grid;
  grid-template-columns: 4fr 7fr;
  padding: 4%;
}
.left-panel {
  grid-column: 1;
  padding: 10% 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-panel img {
  height: 200px;
  width: 200px;
  border: none;
  border-radius: 50%;
}
.left-panel .display-name {
  padding-top: 20%;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}
@media (max-width: 480px) {
  .admin-page {
    grid-template-columns: 1fr;
    padding: 4%;
  }
}
/* override react-bootstrap */
.upload-button {
  padding: 1% 2% 1.2% 2% !important;
  position: fixed !important;
  bottom: 5% !important;
  right: 5% !important;
  background: #0e82f9 !important;
  border: 2px solid #78c3ef !important;
  border-radius: 40px !important;
  color: #fff !important;
}
