.admin-page {
  display: grid;
  grid-template-columns: 4fr 7fr;
  padding: 4%;
}
.left-panel {
  grid-column: 1;
  padding: 10% 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-panel img {
  height: 200px;
  width: 200px;
  border: none;
  border-radius: 50%;
}
.left-panel .display-name {
  padding-top: 10%;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}

/* override react-bootstrap */
.upload-button {
  padding: 1% 2% 1.2% 2% !important;
  position: fixed !important;
  bottom: 5% !important;
  right: 3% !important;
  background: #0e82f9 !important;
  border: 2px solid #78c3ef !important;
  border-radius: 50% !important;
  color: #fff !important;
  height: 2em;
  width: 2em;
  font-size: 2em !important;
}
.change-profile-image-btn {
  background: #0e82f9 !important;
  border: 2px solid #78c3ef !important;
}
.upload-button:hover,
.change-profile-image-btn:hover {
  background: rgba(14, 130, 249, 0.85) !important;
  border: 2px solid #0e82f9 !important;
}

@media (max-width: 480px) {
  .admin-page {
    grid-template-columns: 1fr;
    padding: 4%;
  }
  .left-panel .display-name {
    padding-top: 10%;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
  }
}
