.swipe-card-buttons {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  margin-top: 20px;
}
.dislike-btn {
  grid-column: 1;
}
.like-btn {
  grid-column: 3;
}
.swipe-icon {
  width: 200px;
  height: 200px;
  font-size: 12em;
  position: fixed;
  top: 28%;
  left: 25%;
  z-index: 2;
  color: red;
  opacity: 0.6;
}
@media (max-width: 450px) {
  .swipe-card-buttons {
    padding: 0 8%;
  }
  .swipe-card-buttons button {
    height: 73px;
    width: 88px;
    border: none !important;
  }
  .swipe-card-buttons button .fa {
    font-size: 4em !important;
  }
}
@media (min-width: 481px) {
  .swipe-deck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20%;
  }
  /*  swipe buttons */

  .swipe-card-buttons button {
    height: 73px;
    width: 88px;
    font-size: 1.7em;
    border: none !important;
  }
  .swipe-icon {
    top: 19%;
    left: 35%;
    width: 160px;
    height: 160px;
    font-size: 10em;
  }
}

#root .container {
  overflow: hidden !important;
  max-width: 100% !important;
}
