.navbar {
  height: 53px !important;
  flex-direction: row !important;
  align-items: unset !important;
  justify-content: space-between !important;
}
.navbar-nav {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-evenly !important;
}
.nav-link {
  padding-right: 20px !important;
}
